.footer {
  background: #08664F;
}

.footer__inner {
  color: white;
  padding: 42px 0  27px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer__logo {
  margin-bottom: 31px;
}

.logo__img--footer {
  width: 91.04px;
  height: 26.9px;
}

.nav__list-item {
  margin-bottom: 15px;
  line-height: 18px;
}

.nav__list-link {
  color: white;
}

.footer__contacts {
  position: absolute;
  right: 0;
  display: flex;
  column-gap: 23px;
}

.footer__contacts-img {
  height: 23px;
  width: 23px;
}



@media (min-width: 860px) {
  .footer__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__logo {
    margin-bottom: 0;
  }

  .nav {
    margin-top: 13px;
    margin-left: 44px;
  }

  .nav__list {
    display: flex;
    column-gap: 30px;
  }

  .nav__list-link {
    font-size: 16px;
  }

  .footer__contacts {
    position: inherit;
    align-self: center;
    margin-top: 3px;
  }

  .footer__contacts-img {
    width: 25px;
    height: 25px;
  }
}